<!-- <form [formGroup]="userForm" (ngSubmit)="saveUser()">
    <label for="login">Login:</label>
    <input type="text" id="login" formControlName="login" required>
  
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" required>
  
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email" required>
  
    <label for="location">Location:</label>
    <input type="text" id="location" formControlName="location" required>
  
    <button type="submit">Save</button>
  </form>
   -->