<ion-header>
  <ion-toolbar>
    <ionl-title>Editar Usuário</ionl-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form>
    <ion-item>
      <ion-label>Nome</ion-label>
      <ion-input [(ngModel)]="users.name" name="nome" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input [(ngModel)]="users.email" name="nome" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Localização</ion-label>
      <ion-input [(ngModel)]="users.location" name="nome" type="text"></ion-input>
    </ion-item>
   
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="saveEdition()">Salvar</ion-button>
