<div class="custom-dialog modal" tabindex="-1" role="dialog" #myModal>
  <main *ngIf="user">
    <form>
      <h2>Editar Usuário</h2>
      <div class="data">
        <div>
          <label for="name"><strong> Nome </strong> </label>
          <input
            type="text"
            id="name"
            [(ngModel)]="user.name"
            name="name"
            [disabled]="editing"
          />
        </div>
        <div>
          <label for="email"><strong>Email </strong> </label>
          <input
            type="email"
            id="email"
            [(ngModel)]="user.email"
            name="email"
            [disabled]="editing"
          />
        </div>
        <div>
          <label for="location"><strong>Localização </strong> </label>
          <input
            type="text"
            id="location"
            [(ngModel)]="user.location"
            name="location"
            [disabled]="editing"
          />
        </div>
      </div>
      <div class="save">
        <button type="button" (click)="saveChanges()" [hidden]="editing">
          Salvar
        </button>
        <button type="button" (click)="closeModal()" [hidden]="editing">
          Cancelar
        </button>
      </div>
    </form>
  </main>
</div>
